Flask>=2.0
mysql-connector-python
werkzeug
Flask-Mail
reportlab
python-dotenv
plotly
bcrypt
Flask-WTF
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
Pillow
requests
qrcode
fpdf
weasyprint
Flask-SocketIO
gunicorn
eventlet